<!DOCTYPE html>
<html>
    <head>
        <title>Project Management</title>
        <link rel="stylesheet" href="/app.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 style="text-align: center; margin: 80px; font: bolder; color: white; text-shadow: 3px 3px 5px black;">Final Year Project Management</h1>
            
                        <div class="container" style="background-color: white; opacity: 0.95; box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); height: 200px; width: 350px;">
                            <h3 style="text-align: center; font-size: x-large;"><strong>Personal</strong></h3>
                            <p style="text-align: center;">Store, share, and access your files from any device.</p>
                            <p style="text-align: center; padding: 40px;">
                                    <a class="btn btn-primary btn-large" href="/login">Login / Signup</a>
                            </p>
                        </div>    

               
               
        </div>
        
    </body>
</html>






