<%include partials/header%>

<div class="container">
        <header class="jumbotron">
            <div class="container" style="box-shadow: 5px black;">
                <h1>Project Domains</h1>
                <p>More details about project domains.</p>
                <p>
                        <a class="btn btn-primary btn-large" href="/login">Go Back</a>
                </p>
            </div>    
        </header>

<div class="row " style="display:flex; flex-wrap: wrap;" >

           
                    <div class="thumbnail">
                        <div class="topic">
                                <h4>  Mobile Computing Projects      </h4>
                        </div>
                        <div class="description">
                            <p>
                                    Mobile computing involves mobile communication, mobile hardware, and mobile software. It includes ad hoc networks and infrastructure networks, communication properties, protocols, data formats and concrete technologies.
                            </p>
                        </div>
                    </div>
            
                    <div class="thumbnail">
                        <div class="topic">
                                <h4>  Web Services Projects      </h4>
                        </div>  
                        <div class="description">
                                <p>
                                        A web service is software that makes itself available over the internet and uses a standardized XML messaging system. XML is used to encode all communications to a web service. We offer XML projects to students to create advanced web service applications that can be developed.  
                                </p>
                        </div> 
                    </div>
                
                    <div class="thumbnail">                        
                        <div class="topic">
                                <h4> Communication Projects       </h4>
                        </div>  
                        <div class="description">
                                <p>
                                        Communication is the act of conveying intended meanings from one entity or group to another through the use of mutually understood signs and semiotic rules. In electronics field it implies the successful transformation of a data from one system to other. Project ideas involve layer security, mutual coupling, relay-selection, MIMO systems and so.
                                </p>
                        </div> 
                    </div>
                
                    <div class="thumbnail">
                        <div class="topic">
                                <h4>  BigData Projects      </h4>
                        </div> 
                        <div class="description">
                                <p>
                                        Big data is a term for data sets that are so large or complex that traditional data processing software is inadequate to deal with them. We offer projects on the challenges such as capturing data, data storage, data analysis, search, sharing, transfer, visualization, querying, updating, and information privacy.
                                </p>
                        </div> 
                    </div>
                
                        <div class="thumbnail">
                        <div class="topic">
                                <h4>  Bioinformatics Projects      </h4>
                        </div> 
                        <div class="description">
                                <p>
                                        Bioinformatics is an interdisciplinary field that develops methods and software tools for understanding biological data. It combines computer science, statistics, mathematics and engineering to analyze and interpret biological data. We offer projects on topics such as predicting cellular localization, regulatory motifs, and metabolic pathways.
                                </p>
                            </div> 
                        </div>
                    
                                            <div class="thumbnail">
                        <div class="topic">
                                <h4>  Bio Medical Projects      </h4>
                        </div> 
                        <div class="description">
                                <p>
                                        Bio-Medical engineering is the application of engineering principles to the fields of biology and health care. Students can work with doctors, therapists and researchers to develop systems, equipment and devices in order to solve clinical problems. Bio gadgets, bio medicals and RFID projects can be done.
                                </p>
                            </div>  
                        </div>
                    
                                            <div class="thumbnail">
                        <div class="topic">
                                <h4>  Wireless Network Projects      </h4>
                        </div> 
                        <div class="description">
                                <p>
                                        Wireless Networking is a method by which homes, telecommunication networks and business installations avoid the costly process of introducing cables into a building. We offer projects implementing Bio-gadgets, Zigbee, WSN, and wireless RF energy transfer.
                                </p>
                            </div>  
                        </div>
                    
                                            <div class="thumbnail">
                        <div class="topic">
                                <h4> IoT Projects       </h4>
                        </div> 
                        <div class="description">
                                <p>
                                        IOT is an emerging technology that utilizes the internet to control/monitor electronics, mechanical devices, automobiles, and other devices connected to the internet. Our students can do innovative projects by connecting varied hardware to internet and the possibility of real time solutions in this domain is endless.
                                </p>
                            </div>  
                        </div>
                    
                                            <div class="thumbnail">
                        <div class="topic">
                                <h4>  Signal Processing Projects      </h4>
                        </div> 
                        <div class="description">
                                <p>
                                        Signal Processing concerns the analysis, synthesis, and modification of signals, such as sound, images, and biological measurements. We offer projects in Digital Signal Processing that involves synchronizing, encoding, transmitting, receiving, and decoding digital signals. 
                                </p>
                            </div>  
                        </div>
                    
                                            <div class="thumbnail">
                        <div class="topic">
                                <h4>  Web Application Projects      </h4>
                        </div> 
                        <div class="description">
                                <p>
                                        A web project is the process of developing a website, activities in a network which are aimed at a pre-defined goal. We offer projects to develop and test an advanced website that can be used for various commercial purposes and analyze the activity, impact, popularity and Google ranking of the website.
                                </p>
                            </div>  
                        </div>
                    
                                            <div class="thumbnail">
                        <div class="topic">
                                <h4>  Embedded Projects      </h4>
                        </div> 
                        <div class="description">
                                <p>
                                        An Embedded System is a computer system with a dedicated function within a larger mechanical or electrical system, often with real-time computing. We offer projects implemented on embedded systems based on energy storage systems, data-stream intrusion systems, WSN based smart sensor systems and so.
                                </p>
                            </div>  
                        </div>
                    
                                            <div class="thumbnail">
                        <div class="topic">
                                <h4>  Cloud Projects      </h4>
                        </div>
                        <div class="description">
                                <p>
                                        Cloud computing is a computing infrastructure for enabling access to resources like computer networks, servers, storage, applications and services. We have projects for such systems as cloud security projects, cloud optimization systems and other cloud based application.
                                </p>
                            </div>   
                        </div>
                   
                                            <div class="thumbnail">
                        <div class="topic">
                                <h4>  Android Projects      </h4>
                        </div>
                        <div class="description">
                                <p>
                                        Android is a mobile operating system developed by Google, based on the Linux kernel and designed primarily for smart phones and tablets. We offer projects to develop innovative android apps using Linux framework for sensing, inferring and logging smart phones. 
                                </p>
                            </div>   
                        </div>
                    
                                            <div class="thumbnail">
                        <div class="topic">
                                <h4>  Power System Projects      </h4>
                        </div> 
                        <div class="description">
                                <p>
                                    
Power System is a subfield of electrical engineering that deals with the generation, transmission, distribution and utilization of electric power, and the electric apparatus connected to such systems. Projects can be done on DC to DC convertors, induction generators, DIFG based wind turbines and IUPQC controller.
                                </p>
                            </div>  
                        </div>
                    
                                            <div class="thumbnail">
                        <div class="topic">
                                <h4>   Power Electronics Projects     </h4>
                        </div>  
                        <div class="description">
                                <p>
                                        Power Electronics is the application of solid-state electronics to the control and conversion of electric power. Projects in this discipline can be applied in AC-DC converters, rectifiers, bridgeless converters, three phase converters, inductors and so. 
                                </p>
                            </div> 
                        </div>
                    
                                            <div class="thumbnail">
                        <div class="topic">
                                <h4>  VLSI Projects      </h4>
                        </div>  
                        <div class="description">
                                <p>
                                        Very-large-scale-integration (VLSI) is the process of creating an integrated circuit (IC) by combining thousands of transistors into a single chip. We offer VLSI projects that can be applied in real-time solutions by optimization of processors thereby increasing the efficiency of many systems.
                                </p>
                            </div> 
                        </div>
                    
                                            <div class="thumbnail">
                        <div class="topic">
                                <h4>   Security Projects     </h4>
                        </div> 
                        <div class="description">
                                <p>
                                        Information Security is the practice of preventing unauthorized access, use, disclosure, disruption, modification, inspection, recording or destruction of information. We offer projects to our students on encryption techniques, steganography for secret file transfer and other security applications.
                                </p>
                            </div>  
                        </div>
                    
                                            <div class="thumbnail">
                        <div class="topic">
                                <h4>  Networking Projects      </h4>
                        </div> 
                        <div class="description">
                                <p>
                                        Networking is the construction, design and use of a network that includes cabling, hub, bridge, switch, router, and so forth. ElysiumPro offers an extensive list of project ideas on Networking for students. Most of the Networking projects are done by java programming.
                                </p>
                            </div>  
                        </div>
                    
                        <div class="thumbnail">
                        <div class="topic">
                                <h4>  Datamining Projects      </h4>
                        </div> 
                        <div class="description">
                                <p>
                                        Data Mining is the computing process of discovering patterns in large data sets involving intersection of machine learning, statistics and database. We provide data mining algorithms with source code to students that can solve many real time issues with various software based systems.
                                </p>
                            </div>  
                        </div>
                    
                                            <div class="thumbnail">
                        <div class="topic">
                                <h4>  Image Processing Projects      </h4>
                        </div> 
                        <div class="description">
                                <p>
                                    
Image Processing means processing images using mathematical algorithm. ElysiumPro provides a comprehensive set of reference-standard algorithms and workflow process for students to do implement image segmentation, image enhancement, geometric transformation.
                                </p>
                        </div>  
                    </div>
                </div>

</div>
<%include partials/footer%>