<!DOCTYPE html>
<html>
    <head>
        <title>Project Management</title>
        <link rel="stylesheet" href="/app.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">            
                        <div class="container" style="background-color: white; opacity: 0.95; box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); height: 200px; width: 350px; margin-top: 80px;">
                            <h3 style="text-align: center; font-size: x-large;"><strong>Invalid User</strong></h3>
                            <p style="text-align: center;">Username or Password is wrong</p>
                            <p style="text-align: center; padding: 40px;">
                                    <a class="btn btn-primary btn-large" href="/login">Go Back</a>
                            </p>
                        </div>    

               
               
        </div>
        
    </body>
</html>






