
.thumbnail{
    box-shadow: 2px 2px 5px black;
}

body, html {
    height: 100%;
}
  
body{
    /* The image used */
    background-image: url("/images/background_2.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
  }